<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Citas</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/configuraciones" aria-label="Configuraciones">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="inicio">
    <app-cita
      *ngIf="cita"
      [cita]="cita"
      [mostrarEliminar]="permitirBorrar"
      variante="tarjeta"
      (eliminar)="onEliminar($event)"
    ></app-cita>
    <p class="inicio__vacia" *ngIf="!cita">No hay citas para mostrar.</p>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/gestion" aria-label="Gestionar citas">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
